<div class="col-sm-11 row pb-4 mx-auto d-flex align-items-center justify-content-center">
  <button
    [disabled]="currPage === 0"
    class="btn btn-sm w-auto px-1 mx-1 fw-bold text-hover-theme"
    (click)="changePage(currPage - 1)">
    <fa-icon [icon]="faAngleLeft" class="theme"></fa-icon>
  </button>
  
  <div *ngIf="totalPages < 10" class="w-auto">
    <button
      *ngFor="let number of paginationBtns"
      class="btn btn-sm w-auto px-2 mx-1 fw-bold text-hover-theme"
      [ngClass]="{'active' : number === currPage}"
      (click)="changePage(number)">
      {{ number + 1 }}
    </button>
  </div>


  <div *ngIf="totalPages >= 10" class="w-auto">
    <button
      *ngFor="let number of [0, 1, 2, 3]"
      class="btn btn-sm w-auto px-2 mx-1 fw-bold text-hover-theme"
      [ngClass]="{'active' : number === currPage}"
      (click)="changePage(number)">
      {{ number + 1 }}
    </button>
  </div>

  <form *ngIf="totalPages >= 10" (ngSubmit)="onSubmitHandler()" class="w-auto">
    <!-- <input
      type="number"
      name="paginationInput"
      class="form-control form-control-sm w-auto mt-1 text-center form-control-short"
      [(ngModel)]="paginationInput"
      /> -->

    <div class="form-group form-group-custom w-100 px-0 mb-2">
      <!-- Input -->
      <input
        type="number"
        name="paginationInput"
        id="paginationInput"
        placeholder=" "
        class="form-control-custom w-100 px-3 py-4 mt-3 text-theme form-control-short"
        [(ngModel)]="paginationInput"
        (change)="changeValue()"
        min="0"
        [attr.max]="totalPages"
      />
      <!-- Label -->
      <label
        for="paginationInput"
        class="form-label-custom ps-3 ms-xl-3">
        Strona
      </label>
    </div>
  </form>

  <div *ngIf="totalPages >= 10" class="w-auto">
    <button
      *ngFor="let number of paginationBtns.slice(paginationBtns.length - 4, paginationBtns.length)"
      class="btn btn-sm w-auto px-2 mx-1 fw-bold text-hover-theme"
      [ngClass]="{'active' : number === currPage}"
      (click)="changePage(number)">
      {{ number + 1 }}
    </button>
  </div>

  <button
    [disabled]="currPage === totalPages - 1"
    class="btn btn-sm w-auto px-1 mx-1 fw-bold text-hover-theme"
    (click)="changePage(currPage + 1)">
    <fa-icon [icon]="faAngleRight" class="theme"></fa-icon>
  </button>
</div>
