<tr className="border-top table-row">
  <td className="btn-sm">{{ country.Country }}</td>
  <td className="btn-sm">{{ country.CountryCode }}</td>
  <td className="btn-sm">{{ country.Date }}</td>
  <td className="btn-sm">{{ country.NewConfirmed }}</td>
  <td className="btn-sm">{{ country.NewDeaths }}</td>
  <td className="btn-sm">{{ country.NewRecovered }}</td>
  <td className="btn-sm">{{ country.TotalConfirmed }}</td>
  <td className="btn-sm">{{ country.TotalDeaths }}</td>
  <td className="btn-sm">{{ country.TotalRecovered }}</td>
</tr>
