<section class="w-100 row m-0">
  <div *ngFor="let stats of latestStats"
    class="w-100 p-3 ms-2 my-2 rounded bg-theme-1">
    <h4 class="text-center">{{ stats.dateFrontent }}</h4>
    <p class="m-0">
      NewConfirmed: 
      <span class="text-custom">{{ stats.NewConfirmed }}</span>
    </p>
    <p class="m-0">
      NewDeaths: 
      <span class="text-custom">{{ stats.NewDeaths }}</span>
    </p>
    <p class="m-0">
      NewRecovered: 
      <span class="text-custom">{{ stats.NewRecovered }}</span>
    </p>
  </div>

  <div
    (click)="fetchMoreStats()"
    class="w-100 p-3 ms-2 my-2 rounded bg-theme-1 text-center cursor-pointer">
    <fa-icon
      [icon]="faPlus"
      class="h5 m-0 text-hover-light"
    ></fa-icon>
  </div>
</section>
