<div class="col-12 px-0 pb-1 m-0 d-flex justify-content-end align-items-end">
  <div ngbDropdown class="dropdown w-auto">
    <button
      ngbDropdownToggle
      class="btn btn-sm w-auto fw-bold btn-slide-icon"
      id="dropdown-menu-5"
      data-bs-toggle="dropdown"
      aria-expanded="false">
      <span class="text-theme">Table scope: {{ rowsPerPage }}</span>
      <fa-icon [icon]="faAngleDown" class="theme"></fa-icon>
    </button>
    <div
      ngbDropdownMenu
      class="dropdown-menu shadow border border-theme bg-theme"
      aria-labelledby="dropdown-menu-5">
      <button
        ngbDropdownItem
        *ngFor="let limitBtn of tableRowsLimitBtn"
        class="w-100 btn px-0 py-1 rounded-0 text-center bg-theme text-hover-theme"
        [ngClass]="{'active' : limitBtn === rowsPerPage}"
        (click)="changePageScope(limitBtn)">
        {{ limitBtn }}
      </button>
    </div>
  </div>
</div>
